/*地图样式*/
#LeafletMap {
  background-color: #1c2431;
  z-index: 990;
}

.my-div-icon {
  width: 50px !important;
  height: 53px !important;
  text-align: center;
}

/*城市位置文字样式*/
.leaflet-city-name {
  font-weight: bold;
  color: #fff;
}

/*城市位置圆点样式*/
.leaflet-city-circle {
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin: 0 auto;
  background: #fff;
}
